* {
  margin: 0;
  padding: 0;
}

#app {
  width: 100vw;
  height: 100vh;
}

#tools {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(53, 53, 53, 0.8);
  padding: 10px;
  border-radius: 5px;
  width: 15vw;
  height: 90vh;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.visualizationButton {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition-duration: 0.2s;
}

.visualizationButton:hover {
  background-color: #45a049;
  padding: 15px;
}